html,
body {
    min-height: 100%;
}
body {
    min-width: 100px;
}
#page {
    width: auto;
    max-width: 60em;
}
/* HEADER */
#page-cobrand-image img {
    max-width: 100%;
    border: 0;
}
.ol-variant-grey #page-header-back,
#page-header-back {
    min-height: auto;
    background: none repeat scroll 0% 0% transparent;
}
#page-header {
    min-height: auto;
    background: none repeat scroll 0% 0% transparent;
}
#page-header .breadcrumb {
    width: auto;
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    color: black;
}
.breadcrumb li {
    display: inline-block;
}
.breadcrumb li > a::after {
    content: "›";
    text-decoration: none;
}
.ol-variant-grey .breadcrumb a {
    color: #909090;
}
.breadcrumb .arrow {
    padding-right: 10px;
}

/* MAIN SECTION */
body.side-pre-only #page-content #region-main {
    margin-left: 0;
    overflow: hidden;
}
.course-content ul.topics li.section .content {
    margin: 0;
}
.section.img-text li.activity {
    margin: 1em 0;  /* Increase margin's on first page for easier control with fingers */
}
.block-region {
    min-height: auto;
}

/* FOOTER */
#page-footer {
    max-width: 66.666666em;
    height: auto;
    margin: 0 auto;
}
#page-footer-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
div#page-footer-image div.wfooter-block,
#footer3 {
    display: inline-block;
    vertical-align: top;
}
#footer3 {
    margin-left: 40px;
}

@media only screen and (max-width : 600px) {
    #page-content #region-pre {
        width: 100%;
    }
    #page-mod-oucontent-view .oucontent-contents li {
        margin: 1em 0;
    }
    #page-content #region-main {
        float: left;
    }
}

